:root {
    --white: #FFF;
    --black: #000;
    --bgColor: #F5F1E9;
    --bgColor2: #1b202a;
    --mainColor: #2A323F;
    --secondColor: #BABEC6;
    --featuredColor: #E25054;
    --featuredColorHover: #C04347;
}
  
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	font-weight: normal;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
img, picture, video, embed {max-width: 100%;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Medium.eot');
    src: url('fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('fonts/AvenirLTStd-Medium.ttf') format('truetype'),
        url('fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-HeavyOblique.eot');
    src: url('fonts/AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-HeavyOblique.woff2') format('woff2'),
        url('fonts/AvenirLTStd-HeavyOblique.woff') format('woff'),
        url('fonts/AvenirLTStd-HeavyOblique.ttf') format('truetype'),
        url('fonts/AvenirLTStd-HeavyOblique.svg#AvenirLTStd-HeavyOblique') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-MediumOblique.eot');
    src: url('fonts/AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-MediumOblique.woff2') format('woff2'),
        url('fonts/AvenirLTStd-MediumOblique.woff') format('woff'),
        url('fonts/AvenirLTStd-MediumOblique.ttf') format('truetype'),
        url('fonts/AvenirLTStd-MediumOblique.svg#AvenirLTStd-MediumOblique') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-BlackOblique.eot');
    src: url('fonts/AvenirLTStd-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-BlackOblique.woff2') format('woff2'),
        url('fonts/AvenirLTStd-BlackOblique.woff') format('woff'),
        url('fonts/AvenirLTStd-BlackOblique.ttf') format('truetype'),
        url('fonts/AvenirLTStd-BlackOblique.svg#AvenirLTStd-BlackOblique') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Heavy.eot');
    src: url('fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Heavy.woff') format('woff'),
        url('fonts/AvenirLTStd-Heavy.ttf') format('truetype'),
        url('fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Black.eot');
    src: url('fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Black.woff') format('woff'),
        url('fonts/AvenirLTStd-Black.ttf') format('truetype'),
        url('fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Book.eot');
    src: url('fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Book.woff') format('woff'),
        url('fonts/AvenirLTStd-Book.ttf') format('truetype'),
        url('fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Oblique.eot');
    src: url('fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Oblique.woff') format('woff'),
        url('fonts/AvenirLTStd-Oblique.ttf') format('truetype'),
        url('fonts/AvenirLTStd-Oblique.svg#AvenirLTStd-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Light.eot');
    src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Light.woff') format('woff'),
        url('fonts/AvenirLTStd-Light.ttf') format('truetype'),
        url('fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-BookOblique.eot');
    src: url('fonts/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-BookOblique.woff2') format('woff2'),
        url('fonts/AvenirLTStd-BookOblique.woff') format('woff'),
        url('fonts/AvenirLTStd-BookOblique.ttf') format('truetype'),
        url('fonts/AvenirLTStd-BookOblique.svg#AvenirLTStd-BookOblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Roman.eot');
    src: url('fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('fonts/AvenirLTStd-Roman.ttf') format('truetype'),
        url('fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-LightOblique.eot');
    src: url('fonts/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirLTStd-LightOblique.woff2') format('woff2'),
        url('fonts/AvenirLTStd-LightOblique.woff') format('woff'),
        url('fonts/AvenirLTStd-LightOblique.ttf') format('truetype'),
        url('fonts/AvenirLTStd-LightOblique.svg#AvenirLTStd-LightOblique') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

body {
	color: var(--mainColor);
    font-family: 'Avenir LT Std';
	background-color: var(--bgColor);
}

a {color: var(--mainColor); text-decoration: none;}
	
strong {font-weight: bold;}
em {font-style: italic;}
small {font-size: 0.7em;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
.text-right {text-align: right;}

.img-button {cursor: pointer; background:none repeat scroll 0 0 transparent; border:medium none; padding:0; vertical-align:middle;}

.breadcrumb {margin-bottom: 2rem;}
.breadcrumb-item+.breadcrumb-item::before {content: url(../images/icone-breadcrumb.png);}
.breadcrumb-item.active {color: var(--featuredColor); font-weight: 700;}

h2 {font-weight: 700;}

.btn-ver-todos.left {text-align: right;}
.btn-ver-todos a {
    color: var(--featuredColor);
    font-size: 0.8rem;
    display: inline-block;
    padding-bottom: 0.1rem;
    border-bottom: solid 1px var(--featuredColor);
}
    .btn-ver-todos a:hover {
        color: var(--featuredColorHover);
        border-bottom-color: var(--featuredColorHover);
    }
    .btn-ver-todos a img {
        margin-left: 0.2rem;
        vertical-align: middle;
    }

.chamada-produto {
    width: 100%;
    padding: 2rem;
    margin: 1rem 0;
    border: solid 1px rgba(42, 50, 63, 0.18);
}
    .responsive-produto .chamada-produto {width: 98%;}
    .chamada-produto .img {
        height: 18rem;
        line-height: 18rem;
        text-align: center;
    }
        .chamada-produto .img img {vertical-align: middle;}
        
@media screen and (max-width: 576px) {
    .btn-ver-todos.left {text-align: left;}
}
    
#header {
    padding: 2rem;
    background-color: var(--mainColor);
}
    #header, #header a {color: var(--white);}
    #header .header {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

#logo {
    width: 100%;
    max-width: 160px;
}

.acao-mobile {display: none; top: 14px; right: 0; position: absolute;}
#pencet{
    display:flex;
    align-items:center;
    flex-direction:column;
    cursor:pointer;
}
    #pencet span{
        background-color:ghostwhite;
        width:2em;
        height:.2em;
        margin:0.26em 0;
        display:block;
        transition: all .4s ease;
        transform-origin:0 0;
    }
        .Diam span:nth-child(1) {transform: rotate(45deg) translate(1px, -1px);}
        .Diam span:nth-child(2) {transform: scaleX(0);}
        .Diam span:nth-child(3) {transform: rotate(-45deg) translate(1px, 0);}

#nav-site {width: calc(100% - 460px); max-width: 500px;}
    #nav-site ul {
        display: flex;
        justify-content: space-between;
    }
        #nav-site ul li img:first-child {margin: 0 0.2rem 0 0; vertical-align: middle;}
        #nav-site ul li img:nth-child(2) {margin: 0 0 0 0.2rem; vertical-align: middle;}       
        #nav-site ul li {position: relative;}
            #nav-site ul li a {display: block; padding: 0.5rem 0;}
            #nav-site ul li ul {
                width: 100%;
                top: 36px;
                left: 0;
                display: none;
                flex-direction: column;
                position: absolute;
            }
                #nav-site ul li:hover ul {display: flex;}
                #nav-site ul li li a {
                    width: 100%;
                    display: block;
                    padding: 0.5rem 1rem;
                    background-color: var(--featuredColor);
                }
                    #nav-site ul li li a:hover {background-color: var(--featuredColorHover);}

.btn-fale-conosco {min-width: 200px;}
    .btn-fale-conosco a {
        width: 100%;
        padding: 0.7rem 1.2rem;
        border-radius: 4px;
        display: inline-block;
        border: solid 1px var(--featuredColor);
        background-color: var(--featuredColor);
    }
        .btn-fale-conosco a:hover {
            background-color: var(--featuredColorHover);
        }
        .btn-fale-conosco img {
            margin-left: 2rem;
            vertical-align: middle;
        }

@media screen and (max-width: 991px) {
    #logo {max-width: calc(100%-100px);}
    .acao-mobile {display: block;}
    #header.open {height: 100vh;}
        #header.open .header {flex-wrap: wrap; flex-direction: column; align-items: baseline;}
    #nav-site, .btn-fale-conosco {width: 100%; display: none;}
    #header.open #nav-site {
        margin: 2rem 0;
        display: block;
        background-color: var(--mainColor);
    }
    #nav-site ul {flex-direction: column;}
    #nav-site ul li ul {top: 0; position: relative;}
        #nav-site .submenu ul, #nav-site ul li.submenu:hover ul {display: none;}
        #nav-site .submenu.open ul, #nav-site ul li.submenu.open:hover ul {display: block;}
    #header.open .btn-fale-conosco {display: block; max-width: 200px;}
}

#banner {
    width: 100%;
    height: 711px;
    display: flex;
    align-items: center;
    background: url(../images/banner.png) no-repeat center 0 transparent;
    background-size: cover;
}
    #banner, #banner a {color: var(--white);}

#banner-chamada-produtos {
    width: 100%;
    max-width: 400px;
}
    #banner-chamada-produtos h1 {
        font-size: 3.1rem;
        font-weight: 700;
        line-height: 1.4em;
        margin-bottom: 1.6rem;
    }
    #banner-chamada-produtos .btn-nossos-produtos a {
        display: inline-block;
        border-radius: 250px;
        padding: 1rem 2.2rem;
        border: solid 1px var(--white);
    }
        #banner-chamada-produtos .btn-nossos-produtos a:hover {background-color: rgba(0, 0, 0, 0.2);}
    #banner-chamada-produtos .btn-nossos-produtos img {
        margin-left: 0.7rem;
        vertical-align: middle;
    }

#banner-chamada-quem-somos {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 4px;
    background-color: rgba(236, 239, 242, 0.09);
    justify-content: space-between;
}

    #banner-chamada-quem-somos .video {
        background: url(../images/bg-assistir-video.png) no-repeat 0 0 transparent;
        background-size: cover;
    }
    #banner-chamada-quem-somos .video a {
        width: 256px;
        height: 108px;
        font-size: 0.8rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #banner-chamada-quem-somos .video img {margin-left: 0.5rem;}
    
@media screen and (max-width: 768px) {
    #banner-chamada-produtos h1 {font-size: 2.6rem;}
    #banner-chamada-quem-somos {flex-direction: column;}
    #banner-chamada-quem-somos .video {margin-top: 2rem;}
}

#historia {
    width: 100%;
    color: var(--white);
    margin-top: 7rem;
    padding: 14rem 0 450px;
    background-color: var(--bgColor2);
}

#conheca-historia {margin-bottom: 300px; position: relative;}
    #conheca-historia .ilustracao {
        width: 426px;
        height: 400px;
        top: -23rem;
        right: 0;
        position: absolute;
        background: url(../images/ilustracao-dog.png) no-repeat 0 0 transparent;
    }
    .historia-sp-trading {width: 100%; display: flex;}
    .historia-sp-trading::before {
        content: ' ';
        height: 1px;
        width: 98%;
        display: block;
        top: 80px;
        left: 2%;
        z-index: 1;
        position: absolute;
        background: linear-gradient(to right,  #383e49 0%,#6f7e96 100%);
    }
    .historia-sp-trading .info {
        color: var(--secondColor);
        width: 26%;
        padding-right: 4rem;
        position: relative;
    }
        .historia-sp-trading .info:nth-child(2) {width: 32%;}
        .historia-sp-trading .info:nth-child(3) {width: 42%;}
        .historia-sp-trading .info:last-child {padding-right: 0;}
        .historia-sp-trading .info::before {
            content: ' ';
            width: 20px;
            height: 20px;
            display: block;
            border-radius: 250px;
            margin-bottom: 1rem;
            z-index: 2;
            position: relative;
            background-color: var(--featuredColor);
        }
        .historia-sp-trading .ano {
            color: var(--featuredColor);
            font-size: 1.6rem;
            font-weight: 750;
            margin-bottom: 2rem;
            display: inline-block;
            border-bottom: solid 2px var(--featuredColor);
        }
    
@media screen and (max-width: 991px) {   
    .historia-sp-trading .info {padding-right: 2rem;} 
}
@media screen and (max-width: 768px) {    
    .historia-sp-trading {flex-direction: column;}
    .historia-sp-trading::before, .historia-sp-trading .info::before {display: none;}
    .historia-sp-trading .info, .historia-sp-trading .info:nth-child(2), .historia-sp-trading .info:nth-child(3) {width: 100%; padding: 0;}
    .historia-sp-trading .info {margin: 1rem 0;}
}

#nossa-logistica {
    width: 98%;
    height: 277px;
    max-width: 1080px;
    display: flex;
    align-items: center;
    margin: -280px auto 7rem;
    position: relative;
    background: url(../images/bg-logisticas.png) no-repeat right 0 var(--featuredColor);
}
    #nossa-logistica .desc {max-width: 500px; padding: 0 0 0 5rem;}
        #nossa-logistica .desc h2 {font-size: 1.4rem; margin-bottom: 1rem;}
    #nossa-logistica .img {
        width: 600px;
        height: 268px;
        right: -40px;
        bottom: -35px;
        position: absolute;
        background: url(../images/img-caminhao.png) no-repeat 0 bottom transparent;
        background-size: cover;
    }
    
@media screen and (max-width: 1224px) {    
    #nossa-logistica .img {width: 400px; height: 179px; right: -10px;}
}
@media screen and (max-width: 920px) {    
    #nossa-logistica {height: auto; background-image: none;}
    #nossa-logistica .desc {
        max-width: 100%;
        padding: 3rem;
    }
    #nossa-logistica .img {display: none;}
}

#depoimentos {
    color: var(--white);
    width: 100%;
    min-height: 737px;
    padding: 4rem 0;
    background: url(../images/bg-depoimentos.png) no-repeat center 0 #1b202a;
}
    #depoimentos h2 {max-width: 365px; margin-bottom: 5rem;}
    #depoimentos .btn-acao {text-align: right; margin-top: 1rem;}
        #depoimentos .btn-acao a {
            color: var(--white);
            display: inline-block;
            border-radius: 250px;
            padding: 1rem 2.2rem;
            border: solid 1px var(--white);
        }
            #depoimentos .btn-acao a:hover {background-color: rgba(0, 0, 0, 0.2);}
        #depoimentos .btn-acao img {margin-left: 0.7rem; vertical-align: middle;}

.depoimento {
    width: 98%;
    padding: 3rem;
    border: solid 1px var(--mainColor);
    background-color: var(--bgColor2);
}
    .depoimento .nome {
        font-weight: 700;
        margin-top: 1rem;
    }
    .depoimento .site {
        color: #6F7E96;
        font-size: 0.8rem;
        font-weight: 400;
    }
    
@media screen and (max-width: 991px) {
    #depoimentos h2 {margin-bottom: 1rem;}
    #depoimentos .btn-acao {text-align: left; margin-bottom: 2rem;}
}
@media screen and (max-width: 600px) {
    #depoimentos {padding-top: 2rem;}
    #depoimentos .btn-acao a {padding: 0.5rem 1.8rem;}
}

#pilares-fundamentais {padding: 8rem 0 0;}
    #pilares-fundamentais h2 {
        font-size: 4rem;
        max-width: 516px;
        margin-bottom: 5rem;
    }
    #pilares-fundamentais .icone {text-align: right; margin-top: 4rem;}
    #pilares-fundamentais .box-info {
        margin: 0 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid 1px var(--mainColor);
    }
        #pilares-fundamentais .box-info .desc {padding: 0 5rem;}
        #pilares-fundamentais .box-info h3 {
            color: var(--featuredColor);
            font-weight: 400;
        }
        
@media screen and (max-width: 991px) {
    #pilares-fundamentais h2 {font-size: 3rem;}
    #pilares-fundamentais .icone {margin-top: 2rem;}
    #pilares-fundamentais .box-info .desc {padding: 0 2rem;}
    #pilares-fundamentais .box-info p {font-size: 0.9rem;}
    #pilares-fundamentais .box-info img {max-width: 230px;}
}
@media screen and (max-width: 768px) {
    #pilares-fundamentais h2 {font-size: 2rem;}
    #pilares-fundamentais .icone {margin-top: 1rem;}
    #pilares-fundamentais .box-info .desc {padding: 2rem;}
    #pilares-fundamentais .box-info img {display: none;}
}

#nossos-valores {margin: -500px 0 4rem;}
    #nossos-valores .container {
        color: var(--white);
        width: 1086px;
        height: 650px;
        background: url(../images/bg-valores.png) no-repeat 0 0 transparent;
    }    
    #nossos-valores h2 {
        font-size: 2rem !important;
        margin-top: 1.6rem !important;
    }
    #nossos-valores li {
        max-width: 260px;
        padding: 1rem 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.08);
    }
        #nossos-valores li:last-child {border-bottom: none;}
        
@media screen and (max-width: 991px) {
    #nossos-valores .container {
        width: 100%;
        height: auto;
        padding: 2rem;
        border-radius: 80px;
        background-image: none;
        background-color: var(--featuredColor);
    }
    #nossos-valores h2 {margin-top: 0 !important;}
    #nossos-valores li {max-width: 100%;}
}
@media screen and (max-width: 596px) {
    #nossos-valores .container {padding: 0rem; border-radius: 40px;}
}

#contato {
    padding: 8rem 0;
    background-color: var(--bgColor);
}
    #contato.pagina-interna {padding-top: 0;}
    #contato.pagina-interna .contato-opcoes {position: relative;}
    #contato.pagina-interna .contato-opcoes .img {
        width: 222px;
        height: 370px;
        right: -100px;
        bottom: 0;
        position: absolute;
        background: url(../images/bg-contato.png) no-repeat right bottom transparent;
    }
    #contato h2 {
        font-size: 3rem;
        line-height: 1.1em;
        margin: 0.5rem 0 1.4rem;
    }
    #contato p {margin-bottom: 0.5rem;}
    #contato p img {margin-right: 0.2rem; vertical-align: middle;}

    #contato form label {
        color: var(--featuredColor);
        font-size: 0.8rem;
        display: block;
        z-index: 2;
        position: relative;
        margin: 1.4rem 0 -10px 2rem;
    }
        #contato form div:first-child label {margin-top: 0;}
        #contato form label span {
            font-weight: 700;
            padding: 0 0.2rem;
            display: inline-block;
            background-color: var(--bgColor);
        }
        #contato form label.error, #contato form div:first-child label.error {
            color: var(--featuredColorHover);
            font-weight: 700;
            margin: 0.5rem 0 1rem 2rem;
        }
    #contato form input, 
    #contato form textarea {
        color: var(--mainColor);
        width: 100%;
        border-radius: 4px;
        padding: 1rem 2rem;
        display: block;
        z-index: 1;
        position: relative;
        background-color: var(--bgColor);
        border: solid 1px rgba(91, 102, 121, 0.84);
    }
    #contato form textarea {height: 207px;}
    #contato .btn-acao {margin-top: 1rem;}
        #contato .btn-acao button {
            color: var(--white);
            max-width: 200px;
            width: 100%;
            padding: 0.7rem 1.2rem;
            border-radius: 4px;
            display: inline-block;
            border: solid 1px var(--featuredColor);
            background-color: var(--featuredColor);
        }
            #contato .btn-acao button:hover {background-color: var(--featuredColorHover);}
            #contato .btn-acao button img {
                margin-left: 2rem;
                vertical-align: middle;
            }

@media screen and (max-width: 1200px) {
    #contato.pagina-interna .contato-opcoes .img {right: -50px; bottom: -40px;}
}
@media screen and (max-width: 991px) {
    #contato h2 {font-size: 2.5rem;}
    #contato.pagina-interna .contato-opcoes .img {display: none;}
}

#banner-pet {
    color: var(--white);
    width: 100%;
    height: 636px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
    #banner-pet h2 {font-size: 4rem; max-width: 670px; text-align: center;}
    #banner-pet.bp1 {background-image: url(../images/banner-pet1.png);}
    #banner-pet.bp2 {background-image: url(../images/banner-pet2.png);}
    #banner-pet.bp3 {background-image: url(../images/banner-pet3.png);}

#footer {
    color: var(--white);
    width: 100%;
    padding: 2rem 0;
    background-color: var(--mainColor);
}
    #footer .copyright {text-align: right; padding-top: 1rem;}
    
@media screen and (max-width: 768px) {#footer, #footer .copyright {text-align: center;}}

.titulo-categoria {
    font-size: 4rem;
    font-weight: 700; 
    margin-bottom: 2rem;
}
.titulo-produto {
    color: var(--featuredColor);
    font-weight: 700;
    margin-bottom: 2rem;
}
.produto-descricao {width: 100%; max-width: 680px; margin-bottom: 3rem;}